<section class="card">
  <a href="/story/{{id}}">
    <header>{{title}}</header>
    <div class="card-body">
      <div class="card-subheader">Series: {{series}}</div>
      <body>{{content}}</body>
    </div>
  </a>
</section>