@font-face {
  font-family: "Distillery Strong W00 Regular";
  src: url("https://db.onlinewebfonts.com/t/b741399e65212214a65785c0e777b3e2.eot");
  src: url("https://db.onlinewebfonts.com/t/b741399e65212214a65785c0e777b3e2.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/b741399e65212214a65785c0e777b3e2.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/b741399e65212214a65785c0e777b3e2.svg#Distillery Strong W00 Regular")format("svg");
}


:root {
  --primary: #D4514D;
  --secondary: #86938f;
  --tertiary: #D65450;
  --quatrinary: #E8922C;
  --light: #e3e4e3;
  --dark: #233940;
  --error: rgb(228, 46, 1);
}

body {
  font-family: Georgia;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: var(--quatrinary);
}

.small-image {
  width: 250px;  /* Adjust as needed */
  max-width: 100%; /* Makes the image responsive */
  height: auto;  /* Maintains aspect ratio */
}

a {
  color: var(--primary);
}

a:hover {
  text-decoration: none;
  color: var(--secondary);
  
}

#logout:hover {
  text-decoration: none;
  font-weight: bold;
  color: var(--secondary);
}

#main-header {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 300px;
  padding: 0;
  text-align: center;
  background: var(--dark);
  color: var(--light);
  padding-top: 10px;
  
  position: fixed;
}

header {
  text-align: center;
  color: var(--light);
  font-family: "Distillery Strong W00 Regular";
  letter-spacing: 2;
  
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

nav, #logout {
  background-color: var(--dark);
  margin: 20px;
  padding: 10px;
  letter-spacing: 6;
  font-size: 25px;
  font-family: "Distillery Strong W00 Regular";
}

nav a:hover {
  color: var(--secondary);
  background-color: var(--dark);
}

.story {
  flex: 4;
  background-color: var(--quatrinary);
  padding: 5px;
  display: block;
  margin-left: 300px;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  height: 20px;
  cursor: none;
  text-decoration: none;
  font-size: 100%;
  margin-left: 16px;+;
  color: var(--primary);
}

#comment-add {
  width: 90%;
  margin: 20px;
}

.btn-primary {
  margin: 0 0 0 20px;
  color: var(--primary);
  background-color: var(--secondary);
}

img {
  max-width: 100%;
  height: auto;
}

/* CARDS */
.card {
  margin: 20px;
  background-color: var(--light);
  color: var(--dark);
}

.card header {
  color: var(--light);
  text-align: left;
  font-weight: bold;
  text-transform: uppercase;
  background-color: var(--primary);
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

#create-story {
  font-family: "Distillery Strong W00 Regular";
  letter-spacing: 2;
  margin: 20px 0 0 20px;
  background-color: var(--dark)

}

.card-body {
  font-size: 17px;
  text-align: left; 
}

.card-subheader {
  background-color: var(--tertiary);
  font-weight: bold;
  margin: 0;
  color: var(--light);
  padding: 7px;

}

.story-card {
  text-transform: uppercase;
  letter-spacing: 3px;
  text-shadow: 2px 2px 5px var(--secondary);
  border: 10px  var(--light);
}

.full-story  {
  margin: 20px;
}

.buttons {
  background-color: ;
}

.login-header {
  background-color: var(--tertiary);
  font-weight: bold;
  font-family: "Distillery Strong W00 Regular";
  letter-spacing: 2;
  color: var(--light);
  padding: 7px;
}

.card-login {
  margin: 20px;
  background-color: var(--light);
  color: var(--dark);
  padding: 0;
}

.form-group {
  padding-left: 20px;
  padding-top: 0px;
}
